body { background-color: lightgoldenrodyellow; color: orange; }
h1 {font-family: cursive, comic-sans, brush-script; font-size: 3em}
h2 {color: palegoldenrod; background-color: orange;}
p {text-indent: 3.5em; text-transform: uppercase; font-weight: bold; }
li {font-weight: bold;}
p2 {font-size: 1.25em}