body { background-color: lightgoldenrodyellow; color: orange}
h1 {font-family: cursive, comic-sans, brush-script; font-size: 3em}
h2 {color: palegoldenrod; background-color: orange;}
p {text-indent: 3.5em; text-transform: uppercase; font-weight: bold; }
li {font-weight: bold;}
img { border: 1px solid #000000; font-family: comic-sans, brush-script; padding: 5px; text-align:center; width: 200px}
#headings {  }
#ingredients {float: left; width: 50%}
#directions {float: right; width: 50%}
#container { margin-left: auto; margin-right: auto; width: 80%; }
a:link { color: orange; }
a:visited { color: firebrick; }
a:hover { color: orangered; }